#root {
  --BGColor1: #4a4a4a;
  --BGColor2: #353739;
  --Grey1: #575757;
  --Grey2: #6c6c6c;
  --Grey3: #787878;
  --Grey4: #959595;
  --Grey5: #9c9c9c;
  --ButtonBlue: #9fc0ca;
  --ColorPickerRed: #ff0000;
  --ColorPickerBlue: #0059fd;
  --ColorPickerGreen: #00ff55;
}
