@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

#root {
  --BGColor1: #4a4a4a;
  --BGColor2: #353739;
  --Grey1: #575757;
  --Grey2: #6c6c6c;
  --Grey3: #787878;
  --Grey4: #959595;
  --Grey5: #9c9c9c;
  --ButtonBlue: #9fc0ca;
  --ColorPickerRed: #ff0000;
  --ColorPickerBlue: #0059fd;
  --ColorPickerGreen: #00ff55;
  --Font: "Open Sans", sans-serif;
}
