@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

#root {
  --BGColor1: #4a4a4a;
  --BGColor2: #353739;
  --Grey1: #575757;
  --Grey2: #6c6c6c;
  --Grey3: #2b2b2b;
  --Grey4: #959595;
  --Grey5: #9c9c9c;
  --ButtonBlue: #9fc0ca;
  --ColorPickerRed: #ff0000;
  --ColorPickerBlue: #0059fd;
  --ColorPickerGreen: #00ff55;
  --Font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font);
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

#enterContainer {
  background-color: var(--BGColor1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

rect {
  width: 230px;
  height: 102px;
  background-color: var(--Grey1);
  position: absolute;
  z-index: 1;
}

#rect1 {
  left: 250px;
  transform: rotate(15deg);
  animation: shapeMoveUpnDown 25s infinite ease-in-out;
}

#rect2 {
  right: 250px;
  transform: rotate(15deg);
  animation: shapeMoveUpnDownReverse 25s infinite ease-in-out;
}

@keyframes shapeMoveUpnDown {
  0% {
    top: 200px;
  }
  50% {
    top: 600px;
  }
  100% {
    top: 200px;
  }
}

@keyframes shapeMoveUpnDownReverse {
  0% {
    top: 600px;
  }
  50% {
    top: 200px;
  }
  100% {
    top: 600px;
  }
}

circle {
  width: 173px;
  height: 173px;
  border-radius: 50%;
  background-color: var(--Grey1);
  position: absolute;
  z-index: 1;
  animation: circleMoveUpnDown 15s infinite ease-in;
}

@keyframes circleMoveUpnDown {
  0% {
    top: 400px;
  }
  50% {
    top: 600px;
  }
  100% {
    top: 400px;
  }
}

#enterH1 {
  color: #fff;
  font-size: 6rem;
  line-height: 6rem;
  margin: 9rem 0rem;
  font-weight: bold;
  position: static;
  z-index: 2;
}

#enterForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: static;
  z-index: 1;
}

#enterInput {
  background-color: #d9d9d9;
  border-radius: 24px;
  color: var(--Grey3);
  font-size: 3rem;
  font-weight: 500;
  height: 80px;
  padding: 1rem;
  width: 400px;
}

#enterButton {
  background-color: #4d8deeda;
  border-radius: 33px;
  color: #fff;
  font-size: 3rem;
  line-height: 5rem;
  height: 80px;
  text-align: center;
  width: 400px;
}

#enterButton:hover {
  background-color: #4681da;
}

@media (width < 750px) {
  #enterH1 {
    font-size: 2rem;
    margin: 8.5rem 0;
  }
  #enterInput,
  #enterButton {
    width: 279px;
    height: 56px;
    font-size: 1.5rem;
  }
  #enterButton {
    line-height: 3.5rem;
  }
  #enterForm {
    gap: 1rem;
  }
}
